.image-round{
    border-radius: 50px;
}
.subContainer{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    height: 575px;
}
.search{
    border-radius: 20px;
    border: 3px solid #f6a192;
    padding: 5px;
    margin-top: 20px;
    width: 90%;
    color: #000040;
}
.search input{
    border: none;
    outline: none;
    width: 100%;
}
.separator{
    border: 1px solid rgb(225, 221, 221);
    width: 80%;
    margin-top: 0px;
}
.separatorMain{
    border: 1px solid rgb(225, 221, 221);
    margin-top: 20px;
}
