@tailwind base;
@tailwind components;
@tailwind utilities;

.loginLeft{
  background-color: gainsboro;
}
.bg-image{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/849/384/981/anime-girl-widescreen-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}