@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", sans-serif;
}
.lang{
    color: grey;
    font-size: 13px;
    margin-top: 5px;
}
span{
    color: grey;
}
.transfer-price{
    font-size: 13px;
}
.user-image img{
    border-radius: 10px;
}
.Transfer-container{
    padding-left:10px;
}
.h3{
    margin-bottom: 10px;
}